<div class="navbar">
  <div class="logo">
    <img src="../../assets/images/logo.webp" alt="logo" loading="lazy" />
  </div>
  <div class="nav">
    <a
    *ngIf="isJobSeeker() || isJobKeeper()"
      routerLink="/home"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >


    <!-- Show only if JobSeeker -->
    <a
      *ngIf="isJobSeeker()"
      routerLink="/applyjob"
      routerLinkActive="active"
    >
      Explore
    </a>

    <!-- Show only if JobKeeper -->
    <a
      *ngIf="isJobKeeper()"
      routerLink="/post-job"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Post A Job
    </a>
    <a
      *ngIf="isJobKeeper()"
      routerLink="/hire"
      routerLinkActive="active"
    >
      Hire
    </a>
    <nav *ngIf="isJobSeeker()">Job Detail</nav>
    <a
      *ngIf="isJobKeeper()"
      routerLink="/job-posted"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Job Posted
    </a>
  </div>

  <div class="btn" *ngIf="!isLoggedIn">
    <button (click)="goToLogin()">Login</button>
    <button (click)="goToSignup()">Sign Up</button>
  </div>

  <!-- Show Profile icon and Logout button ONLY when logged in -->
  <div class="profile" *ngIf="isLoggedIn">
    <button (click)="goToProfile()" class="profilebtn">
      <img
        *ngIf="profileImageUrl"
        [src]="profileImageUrl"
        alt="Profile"
        loading="lazy"
      />
    </button>
    <div class="logoutbtn">
      <button (click)="logout()">Logout</button>
    </div>
  </div>
</div>
