<div class="admin-jobseekers">
  <!-- Toast Message -->
  <div *ngIf="message" class="toast" [ngClass]="messageType">
    {{ message }}
  </div>

  <!-- Loading Indicator -->
  <div *ngIf="loading" class="loading">
    Loading job seekers...
  </div>

  <!-- Table -->
  <table *ngIf="!loading && jobSeekers.length > 0" class="content">
    <thead>
      <tr>
        <th>Profile</th>
        <th>Name</th>
        <th>Email</th>
        <th>Number</th>
        <th>Qualification</th>
        <th>Experience</th>
        <th>Skills</th>
        <th>CV</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let seeker of jobSeekers; let i = index">
         <td>
          <img [src]="'http://localhost:5000/' + seeker.imageUrl" alt="profile" />
        </td>
        <td>{{ seeker.userId.name }}</td>
        <td>{{ seeker.userId.email }}</td>
         <td>{{ seeker.phone }}</td>
         <td>{{ seeker.qualification }}</td>
         <td>{{ seeker.experience}}</td>
         <td>
          <ng-container *ngFor="let skill of seeker.skills; let i = index">
            {{ skill }}<span *ngIf="(i + 1) % 2 === 0"><br /></span>
            <span *ngIf="(i + 1) % 2 !== 0 && i + 1 !== seeker.skills.length"
              >,
            </span>
          </ng-container>
        </td>
          <td>
          <a [href]="'http://localhost:5000/' + seeker.cvUrl" target="_blank"
            >View CV</a
          >
        </td>
        <td>
          <button class="btn-delete" (click)="deleteJobSeeker(seeker._id)">
            <i class="fa-solid fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- No Data -->
  <div *ngIf="!loading && jobSeekers.length === 0" class="no-data">
    No job seekers found.
  </div>
</div>
