<app-header></app-header>
<div *ngIf="toastMessage" [ngClass]="toastClass" class="toast">
  {{ toastMessage }}
</div>
<div class="apply">
  <div class="head">
    <h1>Browse Opportunities</h1>
  </div>
  <div class="jobs">
    <div class="card" *ngFor="let job of jobs">
      <div class="logo">
        <img [src]="getProfileImage(job)" />
        <i class="fa-regular fa-heart"></i>
      </div>

      <div class="info">
        <div class="company">
          <span>{{ job.postedBy.companyName || "Company Name" }}</span>
          <p>{{ getDaysAgo(job.createdAt) }}</p>
        </div>

        <h2>{{ job.title }}</h2>

        <div class="types">
          <span>{{ job.category?.name || '-' }}</span>

          <span>{{ job.type }}</span>
        </div>
      </div>

      <div class="description">
        <span class="description-clamp">{{ job.description }}</span>
      </div>

      <div class="btn">
        <button (click)="openJobDetails(job)">Apply Now</button>
      </div>
    </div>
  </div>
</div>

<!-- overlay card -->
<div class="overlay" *ngIf="selectedJob">
  <div class="modal">
    <div class="close" (click)="closeJobDetail()">
      <i class="fa-solid fa-xmark"></i>
    </div>
    <h2>{{ selectedJob.title }}</h2>
    <div class="job-info-row">
      <p><strong>Company:</strong> {{ selectedJob.postedBy.companyName }}</p>
      <p><strong>Salary:</strong> {{ selectedJob.salary }}</p>
      <p><strong>Experience:</strong> {{ selectedJob.experience }}</p>
      <p><strong>Type:</strong> {{ selectedJob.type }}</p>
    </div>
    <p><strong>Description:</strong></p>
    <p>{{ getFirst50Words(selectedJob.description) }}</p>
    <p><strong>Skills Required:</strong></p>
    <ul class="skills-list">
      <li *ngFor="let skill of selectedJob.skills">{{ skill }}</li>
    </ul>
    <p *ngIf="selectedJob.language?.length"><strong>Languages:</strong></p>
    <ul class="skills-list" *ngIf="selectedJob.language?.length">
      <li *ngFor="let lang of selectedJob.language">{{ lang }}</li>
    </ul>

    <!-- Soft Skills -->
    <p *ngIf="selectedJob.softSkills?.length"><strong>Soft Skills:</strong></p>
    <ul class="skills-list" *ngIf="selectedJob.softSkills?.length">
      <li *ngFor="let soft of selectedJob.softSkills">{{ soft }}</li>
    </ul>
    <button class="apply-btn" (click)="applyJob(selectedJob._id)">
      Proceed to Apply
    </button>
  </div>
</div>
