 .category-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 1400px;
    padding: 0px 60px;
    background-color: #f6f6f6;
    
  }
  h3{
    font-size: var(--Heading-size);
  }
  .category-content{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .category-item{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 20%;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 20px 20px;
    background-color: var(--Background-color);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .category-item img{
    width: 50px;
    height: 50px;
  }
  .category-item span{
    font-size: var(--small-size);
  }
  .pagination {
  margin-top: 20px;
  display: flex;
  gap: 5px;
  justify-content: center;
}

.pagination button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
}

.pagination button.active {
  background: #007bff;
  color: white;
  border-color: #007bff;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}